@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0)
}

body {
  font-family: "Roboto Condesed";
}
/****************************** Nav Bar Styles *****************************/
/*------ Nav Home Link --------*/
.navbar-brand {
  color: var(--primary-white) !important;
  font-weight: 700;
  letter-spacing: 0.0375rem;
}
/*------ NAV Links --------*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > .active > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/*------ Collapse Button --------*/

.navbar-toggler{
	box-shadow: none !important
}

/****************************** Header *****************************/

.header-wrapper {
  position: relative;
  /* background: url(./Images/home-pic.jpg); */
  background-size: contain;
  background-position: center;
  height: 60vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed";
}

.main-info h1 {
  color: #fff;
  text-transform: uppercase;
}