@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condesed";
}
/****************************** Nav Bar Styles *****************************/
/*------ Nav Home Link --------*/
.navbar-brand {
  color: var(--primary-white) !important;
  font-weight: 700;
  letter-spacing: 0.0375rem;
}
/*------ NAV Links --------*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > .active > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > .active > a {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/*------ Collapse Button --------*/

.navbar-toggler{
	box-shadow: none !important
}

/****************************** Header *****************************/

.header-wrapper {
  position: relative;
  background: url(./components/Images/Chores2.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}

.main-info h2 {
  color: #f9ab00;
}

/*--------- Typed Text -------------*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/*--------- Header Main Offer Button -------------*/
.btn-main-offer {
  border: 1px solid var(--primary-orange);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  text-decoration: none;
  margin-top: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-orange);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/****************************** Home Content *****************************/

.section {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  font-family: "Roboto Condesed", sans-serif;
}

.main-heading {
  font-size: 2rem;
}

.underline {
  height: 0.25rem;
  width: 4rem;
  background-color: var(--primary-orange);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btn-about-us {
  border: 1px solid var(--primary-orange);
  background-color: var(--primary-orange);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: black;
  text-decoration: none;
  margin-top: 1rem;
}

.btn-about-us:hover {
  text-decoration: none;
  background-color: black;
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/* ------ External Info --------- */
.External-Info{
  background-color: lightgray;
}

.external-info {
  font-family: "Roboto Condesed", sans-serif;
}

.llcImage {
  border-radius: 70%;
  border: 5px solid var(--primary-orange);
  max-width: 100%;
}

/****************************** Footer *****************************/

.fa-facebook {
  font-size: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: auto;
}

.fa-copyright {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: auto;
}

.footer-links {
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
}

.footer-links:hover {
  color: grey;
}

/*************************************************************************************************/
/****************************************** About Owner ******************************************/

.carousel-inner > .carousel-item > img {
  width:640px;
  height:360px;
}

.number {
  color: black;
  /* text-decoration: none !important; */
  cursor: pointer;
}

.number:hover {
  color: grey;
}

/*************************************************************************************************/
/****************************************** Services ******************************************/

.services-main {
    font-family: "Roboto Condesed", sans-serif;
    /* text-align: center; */
}